.bgwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('backdrop.jpeg');
   
    background-size: cover;
  }
 



.input-box {
  outline: none;
  position: relative;
  width: 90%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin:30px 0;
}
.input-box ::placeholder {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #1b151b;
  font-weight: 500;
  pointer-events: none;
  transition: 0.4s;
}
.input-box {
  background:transparent;
  font-size: 1em;
  font-weight: 600;
margin: 13px;
  padding: 0 35px 0 5px;
  /* color: #1b151b; */
}


/* .input-box input:focus~::placeholder,
.input-box input:hover~label,
.input-box input:not(:placeholder-shown) ~ label,
.input-box input:valid~::placeholder {
  top: -5px;
} */
 
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden;
    transform: scale(0);
    transition: transform .2s ease-in-out, height .25s ease-in-out; */
}

/* .wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
} */
